extends ./layouts/index.pug
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="/img/nosotros.jpg", alt="imagen de nosotros")
            .col-md-7
                h1= pagina
                blockquote Aenean sed suscipit nisl. Nam dictum justo vitae efficitur dapibus. Mauris et orci et turpis sagittis lobortis at ut dui. Suspendisse potenti. Sed quis aliquam nulla, a feugiat enim.
                p Sed eleifend luctus metus, ac vehicula nulla interdum in. Aliquam pellentesque, sapien non finibus commodo, felis leo viverra risus, eu convallis augue lacus ut lorem. Morbi pharetra, sapien ut rhoncus fringilla, sem justo lacinia lectus, nec suscipit diam ante a ligula. Curabitur laoreet consectetur lectus, nec lacinia enim lacinia eu.
                p  Nulla tincidunt augue vel dui aliquam, id imperdiet tellus vulputate. Pellentesque ac libero metus. Etiam egestas, enim vel mollis pulvinar, sapien ligula tincidunt ante, nec egestas augue lacus id justo. Donec finibus sapien sapien, at tempus mauris volutpat a. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Phasellus porta leo et pulvinar lobortis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut posuere tincidunt accumsan
                                .row
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Morbi pharetra, sapien ut rhoncus fringilla, sem justo lacinia lectus, nec suscipit diam ante a ligula. Curabitur laoreet consectetur lectus, nec lacinia enim lacinia eu.
                                .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p  Duis rhoncus, justo vel bibendum aliquam, mi ligula malesuada mi, sit amet tristique nunc elit a arcu. Aenean hendrerit sollicitudin interdum. Etiam luctus varius dolor vel commodo. Ut nec pretium orci.